!!!
%html
  %head
    %style * {font-family: 'Lucida Grande', Helvetica, sans-serif;padding:10px;margin:0px;text-align:center;} h2 {font-size:300px;}
    %title Dashboard
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    :javascript

  %body= yield
