%p= "Last updated: #{Time.now.strftime('%H:%M:%S')}"
#content
  .results
    - @responses.each do |uri, code|
      .result
        - if code == 200
          .success
            %p= uri
        - else
          .failure
            %p= uri
